.combo-1 {
    display: flex;
    height: 90vh;
}

.mainchat {
    width: 85%;
    padding: 0 2rem;
    height: 100%;
    margin: 0 auto;
}

.main-b-h {
    color: var(--color-primary);
}

.sub-b-h {
    color: var(--color-light-text);
}

.fst-h h1 {
    margin: 1rem 0;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}

@keyframes animate-slowly-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-slowly {
    opacity: 0;
    animation-name: animate-slowly-1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    color: rgb(98, 0, 255);
}

.poss-top-sec {
    display: flex;
    gap: 1rem;
    margin: 3rem auto;
    padding: 0 1rem;
    width: 80%;
}

.abeg {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--card-color);
    border-radius: 1rem;
}

.pos-top-cards {
    padding: 1rem;
    color: var(--color-text);
    display: flex;
    gap: 2rem;
    background: var(--color-bg);
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 1px 1px 4px var(--box-shadow-color);
    opacity: 0.8;
    cursor: pointer;
}

.pos-top-cards:hover {
    transform: scale(1.02);
    opacity: 1;
    transition: all 0.1s ease;
    color: var(--color-inv);
}

.sections-main {
    position: relative;
    height: 100%;
    padding: 1rem 0;
}

.fr-in-con {
    padding: 0.3rem;
    position: absolute;
    bottom: 2%;
    width: 100%;
    border: 1px solid var(--border-color);
    margin: 0 5% 0 0%;
    display: flex;
    background: var(--color-tr-bg);
    height: fit-content !important;
    border-radius: 1rem;
    flex-direction: row;
    overflow: hidden;
}

.fr-in-con span {
    height: fit-content;
    width: fit-content;
    text-align: right;
    padding: 0 0.5rem 0 2rem;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    color: var(--color-text);
    font-size: 2.3rem;
    bottom: 0;
    right: 3%;
    opacity: 0.9;
}

.color-grey {
    color: #cccccc77 !important;
}

.fr-in-con span:hover {
    opacity: 1;
    cursor: pointer;
}

.mb-snt {
    overflow-x: hidden;
    overflow-y: auto;
}

.fst-h {
    width: 90%;
    margin: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.dynamo {
    min-height: 2rem;
    max-height: 10rem;
    width: 90% !important;
    background-color: var(--color-tr-bg);
    color: var(--color-text);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    position: relative;
    resize: none;
    bottom: 0;
}

.pos-top-cards:hover .fa-112 {
    color: var(--color-primary);
}

.fa-112 {
    transition: all 0.3s ease;
    font-size: 1.2rem;
    text-align: right;
    padding: 0 1rem;
    color: var(--color-light-text);
}

.sections-chat {
    overflow: auto;
    height: 90%;
    width: 100%;
    padding: 0 0 3rem 0;
}
.bosslion {
    width: 100%;
    height: fit-content;
}

.sections-chat::-webkit-scrollbar {
    display: none;
}

.dialogue {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: row-reverse;
}

.dialogue-content {
    max-width: 70%;
    background-color: var(--color-chat2);
    padding: 1rem 2rem;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
    font-variation-settings:
        "wdth" 100;
    border-radius: 1rem;
}

.dialogue img{
    width: 2rem;
    height: 2rem;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.ai-dialogue {
    margin: 1rem 0;
    width: 90%;
    position: relative;
    display: flex;
    gap: 0.5rem;

}

@keyframes ai-loader {
    0% {
        background: linear-gradient(90deg, #f5f5f5 0%, #f0f0f0 0%, #e9e9e9 100%); 
    }
    75% {
        background: linear-gradient(90deg, #e0e0e0 27%, #e9e9e9 55%, #e9e9e9 82%, #dddddd 100%); 
    }
    100% {
        background: linear-gradient(90deg, #e9e9e9 0%, #e0e0e0 0%, #e9e9e9 100%); 
    }
}
.ai-load-card {
    background: rgb(241, 241, 241);
    color: var(--color-text-2);
    display: flex;
    gap: 1rem;
    padding: 0.7rem 1rem;
    margin: 0.3rem 0;
    border-radius: 1rem;
    animation-name: ai-loader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes hammer-animation {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
.hammer-anime {
    color: var(--color-text);
    animation: hammer-animation 1.5s infinite backwards;
}

@keyframes code-anime {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.03);
    }
}
.code-anime {
    animation-name: code-anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.code-group {
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.code-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.6rem;
    background: var(--card-color);
}
.view-line {
    padding: 0.3rem !important;
}

.brown {
    color: brown;
}
.grey {
    color: var(--color-text);
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.er-4 {
    font-size: 1.3rem;
}

.bosslion .fr-in-con{
    position: absolute;
    width: 70%;
}

.code-editor {
    height: 100%;
    width: 85%;
    margin-left: 5%;
    border-radius: 1rem;
}

.ai-dialogue-content {
    position: relative;
    max-width: 90%;
    background-color: var(--color-chat);
    padding: 1rem 2rem;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.8rem;
    font-variation-settings:
        "wdth" 100;
    border-radius: 1rem;
}
.ai-dialogue img{
    width: 2.5rem;
    height: 2.5rem;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 900px) {
    .mainchat {
        width: 98%;
        margin: 0 auto;
        padding: 0;
    }

    .bosslion .fr-in-con {
        width: 96%;
    }

    .abeg::-webkit-scrollbar {
        display: none;
    }

    /* Track */
    .abeg::-webkit-scrollbar-track {
        display: none;
    }

    /* Handle */
    .abeg::-webkit-scrollbar-thumb {
        display: none;
    }

    .abeg {
        padding: 0 1rem;
    }

    .sub-b-h {
        font-size: 2rem;
    }

    .fst-h {
        width: 100%;
        margin: 3rem 0;
    }

    .poss-top-sec {
        flex-direction: column;
        margin: 4rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 1rem 0.3rem;
    }

    .fr-in-con {
        position: fixed;
        bottom: 1%;
        left: 0;
        width: 96%;
        margin: 0 2%;
    }

    .fr-in-con span {
        right: 1%;
    }

    .abeg ::-webkit-slider-runnable-track {
        display: none;
    }

    .abeg::-webkit-scrollbar-thumb {
        display: none;
        background: var(--color-tr-bg);
        border-radius: 0.1rem;
    }

}

@media screen and (max-width: 550px) {
    .dialogue img{
        display: none;
    }

}
@media screen and (max-width: 768px) {
    .code-editor {
        width: 95%;
        margin-left: 2.5%;
    }
    .dialogue-content {
        max-width: 100%;
        padding: 1rem;
    }
    .ai-dialogue {
        width: 98%;
    }
    .ai-dialogue-content {
        width: 100%;
        padding: 1rem;
    }


}
@media screen and (max-width: 360px) {
    .poss-top-sec {
        grid-template-columns: 1fr;
    }
}